@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Gabarito", sans-serif;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
:root {
  --second-bg-color: white;
  --text-color: black;
  --main-color: #859F3D;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}
header{
    z-index: 9999;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    padding: 0px 6%;
    background:white;
    box-shadow: 0 1px 5px rgb(0, 0, 0,0.5);
    display: flex;
    transition: 0.1s ease;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;
    z-index: 999;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbro{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: auto;
  background-color: white;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 999;
  padding-top: 2px;
}
.logo{
    font-size: 3rem;
    color: #54473F;
    font-weight: 800;
    cursor: pointer;
    margin-right: auto;
    transition: 0.1s ease;
}
.logo :hover{
    scale: 1.2;
}
.navbro span{
    color: #54473F;
}
span{
    color: var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 10rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}
section{
    padding: 20px 25px;
    box-sizing: border-box;
}
.h1{
    font-family: "Oswald";
    color: var(--second-bg-color);
    font-size: 8rem;
    font-weight: 800;
    line-height: 1.3;
}
.p{
    color: var(--second-bg-color);
    font-size: 1.8rem;
    font-family: Montserrat;
}
.h3{
    font-family: "Oswald";
    font-size: 4rem;
}

/* beranda start */
.beranda{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(slider/1.png);
    background-position: center;
    background-size: cover;
}
.konten-beranda{
    align-items: center;
    padding: 100px 20px;
    max-width: 80%;
}
/* beranda end */

/* keruskakan start */
.kerusakan-alam .h1{
    font-family: montserrat;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.title .p{
    color: var(--second-bg-color);
}
.kerusakan-alam h2{
    color:#5F5E5E;
}
.kerusakan-alam{
    padding-top: 70px;
    padding-bottom: 90px;
    background-image: url(elemen/Screenshot\ 2025-01-15\ 113952.png);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.jumlah-kerusakan{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;
}
.elemen{
    justify-items: center;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}
.card {
    display: flex;
    rotate: 50deg;
    margin-top:20% ;
    background-color: #D9D9D9;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 1px 5px rgb(0, 0, 0,0.5);
}
.elemen > :nth-child(2){
    margin-top: 40%;
}
.angka{
    rotate: -50deg;
    align-items: center;
}
.card h2 {
   font-size: 24px;
   margin-bottom: 10px;
}

.card .p {
    color: #5F5E5E;
    font-size: 14px;
    margin-bottom: 10px;
}
  
.card .number {
    font-size: 36px;
    font-weight: bold;
}
  /* kerusakan end */

  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
}
.logocom {
    width: 160px;
    filter: grayscale(100%); 
    transition: filter 0.3s; 
}
.logocom:hover {
    filter: grayscale(0%); 
}
.logo-container {
    padding-top: 50px; 
}
  
  /* berita start */
.title p {
    font-size: 16px;
    color: black;
  }
  .berita{
    display: flex;
    flex-direction: column;
    padding: 90px 80px;
    gap: 40px;
    
  }
  .berita img{
    width: 35%;
    border-radius: 20px;
} 
.konten-berita1{
    display: flex;
    gap: 0 40px;
    height: 50%;
    position: relative;
}
.konten-berita2{
    display: flex;
    gap: 0 40px;
    height: 50%;
    position: relative;
    text-align: end;
}
.konten-berita3{
    display: flex;
    gap: 0 40px;
    height: 50%;
    position: relative;
}
.konten-berita4{
    display: flex;
    gap: 0 40px;
    height: 50%;
    position: relative;
    text-align: end;
}
.konten-berita5{
    display: flex;
    gap: 0 40px;
    height: 50%;
    position: relative;

}
.konten-berita6{
    display: flex;
    gap: 0 40px;
    height: 50%;
    position: relative;
    text-align: end;
}
.konten-berita7{
    display: flex;
    gap: 0 40px;
    height: 50%;
    position: relative;
}
.konten-berita8{
    display: flex;
    gap: 0 40px;
    height: 50%;
    position: relative;
    text-align: end;
}

.berita .p{
    line-height: 1.5;
    color: black;
}
.konten-berita h3{
    font-family: "Oswald";
}
.konten-berita1 .menu-berita {
    position: absolute;
    bottom: 0;
    left: 39%;
}
.konten-berita3 .menu-berita{
    position: absolute;
    bottom: 0;
    left: 39%;
}
.konten-berita5 .menu-berita{
    position: absolute;
    bottom: 0;
    left: 39%;
}
.konten-berita2 .menu-berita{
    position: absolute;
    bottom: 0;
    right: 39%;
}
.konten-berita4 .menu-berita{
    position: absolute;
    bottom: 0;
    right: 39%;
}
.konten-berita6 .menu-berita{
    position: absolute;
    bottom: 0;
    right: 39%;
}
.menu-berita :hover{
    color:#859F3D;
    font-weight: 600;
}
.lainya :hover{
    color:#859F3D;
    font-weight: 600;
}
/* berita end */

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    padding: 1rem;
    background: transparent;
    color: var(--text-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease;
}
.footer{
    background-image: url(elemen/Screenshot\ 2025-01-15\ 130912.png); 
    padding: 10px 0;
}
footer img {
    width: 180px; /* Adjust the width as needed */ 
}
.footer1 {
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px;
    align-items: center;
}
.footer1 .list li {
    margin: 40px;
}
.footer .social-icons{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer ul li a{
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--text-color);
}
.copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}
::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}
@media(max-width:1024px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem 3rem;
        background-color: white;
        border-bottom-right-radius: 2rem; 
        border-bottom-left-radius: 2rem;
        width: 100%;
        display: none;
    }
    .navbar a{
        display:block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.active{
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
    }
    .elemen > :nth-child(2){
        margin-top:20% ;
    }
    .berita img{
        width: 35%;
        border-radius: 20px;
        display: none;
    } 
    .konten-berita1{
        background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(slider/1736353052_Fire-in-Los-Angeles-30000-evacuated-and-uncontainable-flames-state.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        padding: 20px;
        color: white;
    }
    .konten-berita1 .p{
        color: white;
    }
    .konten-berita2{
        background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(slider/shutterstock_1750718978-1.jpg);
        background-position: center;
        text-align: left;
        background-size: cover;
        border-radius: 20px;
        padding: 30px;
        color: white;
    }
    .konten-berita2 .p{
        color: white;
    }
    .konten-berita3{
        background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(slider/OIP.jpeg);
        background-position: center;
        text-align: left;
        background-size: cover;
        border-radius: 20px;
        padding: 30px;
        color: white;
    }
    .konten-berita3 .p{
        color: white;
    }
    .konten-berita4{
        background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(slider/OIP\ \(1\).jpeg);
        background-position: center;
        text-align: left;
        background-size: cover;
        border-radius: 20px;
        padding: 30px;
        color: white;
    }
    .konten-berita4 .p{
        color: white;
    }
    .konten-berita5{
        background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(slider/download.jpeg);
        background-position: center;
        text-align: left;
        background-size: cover;
        border-radius: 20px;
        padding: 30px;
        color: white;
    }
    .konten-berita5 .p{
        color: white;
    }
    .konten-berita6{
        background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(slider/093386800_1452074417-2016-01-06-ilustrasi_gempa.webp);
        background-position: center;
        text-align: left;
        background-size: cover;
        border-radius: 20px;
        padding: 30px;
        color: white;
    }
    .konten-berita6 .p{
        color: white;
    }
    .konten-berita7{
        background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(slider/download\ \(1\).jpeg);
        background-position: center;
        text-align: left;
        background-size: cover;
        border-radius: 20px;
        padding: 30px;
        color: white;
    }
    .konten-berita7 .p{
        color: white;
    }
    .konten-berita8{
        background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(slider/shutterstock_1750718978-1.jpg);
        background-position: center;
        text-align: left;
        background-size: cover;
        border-radius: 20px;
        padding: 30px;
        color: white;
    }
    .konten-berita8 .p{
        color: white;
    }
    .menu-berita :hover{
        color:#859F3D;
    }
    .menu-berita{
        position: static;
        margin-top: 20px;
    }
    .konten-berita2 .menu-berita{
        position: static;
        margin-top: 20px;
    }
}
